# Binary files
target
*.class
# IDEA configuration file
.idea
cs425-mp1.iml
# Eclipse configuration file
.classpath
.project
.settings
# Emacs temporary files
*~
\#run.sh\#
.\#run.sh
# Local log files
*.log
logs/
# maven binary file
lib
